body { font-size: 20px; }
#header {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	-webkit-animation: slide 40s infinite;
	animation: slide 40s infinite;
}
@-webkit-keyframes slide {
	0% {
		background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.47)), to(rgba(43, 41, 41, 0.47))), url(../img/portfolio-images/brandon.jpg);
		background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.47), rgba(43, 41, 41, 0.47)), url(../img/portfolio-images/brandon.jpg);
	}

	20% {
		background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.47)), to(rgba(43, 41, 41, 0.47))), url(../img/portfolio-images/brandon.jpg);
		background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.47), rgba(43, 41, 41, 0.47)), url(../img/portfolio-images/brandon.jpg);
	}

	20.01% {
		background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.47)), to(rgba(43, 41, 41, 0.47))), url(../img/portfolio-images/oliver.jpg);
		background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.47), rgba(43, 41, 41, 0.47)), url(../img/portfolio-images/oliver.jpg);
	}

	40% {
		background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.47)), to(rgba(43, 41, 41, 0.47))), url(../img/portfolio-images/oliver.jpg);
		background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.47), rgba(43, 41, 41, 0.47)), url(../img/portfolio-images/oliver.jpg);
	}

	40.01% {
		background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.77)), to(rgba(43, 41, 41, 0.77))), url(../img/portfolio-images/denys.jpg);
		background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.77), rgba(43, 41, 41, 0.77)), url(../img/portfolio-images/denys.jpg);
	}

	60% {
		background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.77)), to(rgba(43, 41, 41, 0.77))), url(../img/portfolio-images/denys.jpg);
		background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.77), rgba(43, 41, 41, 0.77)), url(../img/portfolio-images/denys.jpg);
	}

	60.01% {
		background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.57)), to(rgba(43, 41, 41, 0.57))), url(../img/bryan.jpg);
		background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.57), rgba(43, 41, 41, 0.57)), url(../img/bryan.jpg);
	}

	80% {
		background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.57)), to(rgba(43, 41, 41, 0.57))), url(../img/portfolio-images/bryan.jpg);
		background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.57), rgba(43, 41, 41, 0.57)), url(../img/portfolio-images/bryan.jpg);
	}

	80.01% {
		background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.27)), to(rgba(43, 41, 41, 0.27))), url(../img/portfolio-images/peter.jpg);
		background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.27), rgba(43, 41, 41, 0.27)), url(../img/portfolio-images/peter.jpg);
	}

	100% {
		background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.27)), to(rgba(43, 41, 41, 0.27))), url(../img/portfolio-images/peter.jpg);
		background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.27), rgba(43, 41, 41, 0.27)), url(../img/portfolio-images/peter.jpg);
	}
}
@keyframes slide {
	0% {
		background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.47)), to(rgba(43, 41, 41, 0.47))), url(../img/portfolio-images/brandon.jpg);
		background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.47), rgba(43, 41, 41, 0.47)), url(../img/portfolio-images/brandon.jpg);
	}

	20% {
		background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.47)), to(rgba(43, 41, 41, 0.47))), url(../img/portfolio-images/brandon.jpg);
		background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.47), rgba(43, 41, 41, 0.47)), url(../img/portfolio-images/brandon.jpg);
	}

	20.01% {
		background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.47)), to(rgba(43, 41, 41, 0.47))), url(../img/portfolio-images/oliver.jpg);
		background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.47), rgba(43, 41, 41, 0.47)), url(../img/portfolio-images/oliver.jpg);
	}

	40% {
		background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.47)), to(rgba(43, 41, 41, 0.47))), url(../img/portfolio-images/oliver.jpg);
		background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.47), rgba(43, 41, 41, 0.47)), url(../img/portfolio-images/oliver.jpg);
	}

	40.01% {
		background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.77)), to(rgba(43, 41, 41, 0.77))), url(../img/portfolio-images/denys.jpg);
		background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.77), rgba(43, 41, 41, 0.77)), url(../img/portfolio-images/denys.jpg);
	}

	60% {
		background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.77)), to(rgba(43, 41, 41, 0.77))), url(../img/portfolio-images/denys.jpg);
		background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.77), rgba(43, 41, 41, 0.77)), url(../img/portfolio-images/denys.jpg);
	}

	60.01% {
		background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.57)), to(rgba(43, 41, 41, 0.57))), url(../img/portfolio-images/bryan.jpg);
		background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.57), rgba(43, 41, 41, 0.57)), url(../img/portfolio-images/bryan.jpg);
	}

	80% {
		background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.57)), to(rgba(43, 41, 41, 0.57))), url(../img/portfolio-images/bryan.jpg);
		background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.57), rgba(43, 41, 41, 0.57)), url(../img/portfolio-images/bryan.jpg);
	}

	80.01% {
		background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.27)), to(rgba(43, 41, 41, 0.27))), url(../img/portfolio-images/peter.jpg);
		background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.27), rgba(43, 41, 41, 0.27)), url(../img/portfolio-images/peter.jpg);
	}

	100% {
		background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.27)), to(rgba(43, 41, 41, 0.27))), url(../img/portfolio-images/peter.jpg);
		background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.27), rgba(43, 41, 41, 0.27)), url(../img/portfolio-images/peter.jpg);
	}
}
.header_logo {
    height: 10rem;
}
.header_text-box .heading-primary .heading-primary--main {
	font-size: 5.5rem;
    letter-spacing: 3.5rem;
}
.header_text-box .heading-primary--sub {
  	  letter-spacing: 1.2rem;
}
.portfolio-h2 {
  	margin-bottom: 25px;
}
.section-about {
    background-color: #f7f7f7;
    padding: 25rem 0 20rem;
    margin-top: -25vh;
}
.section-book {
    padding: 0;
    background-image: none;
}
.smaller-box {
  	width: 32.5%;
  	height: 280px;
  	margin: 0;
  	margin-right: 1.25%;
  	position: relative;
  	border-radius: 7px;
    -webkit-box-shadow: 0px 1px 9px 1px #9E9E9E;
    box-shadow: 0px 1px 9px 1px #9E9E9E;
  	margin-bottom: 25px;
	background-color: #fff;
	overflow: hidden;
}
.smaller-box::after {
    display: block;
    content: "";
    background-color: #333;
    width: 20%;
    height: 15px;
    margin-left: 40%;
    position: absolute;
    z-index: 1;
    bottom: 0;
}
.square-back {
	background-image: url(../img/portfolio-images/square_nine_cover.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.marryed-back {
	background-image: url(../img/portfolio-images/marryed-cover.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.cd-back {
	background-image: url(../img/portfolio-images/cd-cover.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.intranet-back {
	background-image: url(../img/portfolio-images/nathaniel.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.forma-vitale-back {
	background-image: url(../img/portfolio-images/forma-vitale-cover.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.velvet-back {
	background-image: url(../img/portfolio-images/velvet-cover.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.markiz-back {
	background-image: url(../img/portfolio-images/markiz-cover.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.immo-back-color {
	background-image: url(../img/portfolio-images/bernard.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.miha-back-color {
	background-image: url(../img/portfolio-images/miha_bodytec.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.smaller-box:nth-of-type(3n) {
  	margin-right: 0;
 }
.del-back-color {
	background-image: url(../img/portfolio-images/frankie.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.color-box1 {
	background-image: url(../img/portfolio-images/joanna.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.color-box1 h3 {
	font-size: 160%;
	font-weight: 700;
	text-align: center;
	letter-spacing: 1px;
	line-height: 145%;
	text-transform: uppercase;
	margin-top: 15%;
	text-shadow: 0px 1px 1px #ff8a00;
}
.color-box2 {
	background-image: url(../img/portfolio-images/hot-air-balloon.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.color-box2 h3 {
	color: #ff8a00;
    font-size: 160%;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    line-height: 145%;
    text-transform: uppercase;
    margin-top: 15%;
    text-shadow: 0px 1px 1px #333;
}
.smaller-box.color-box1::after, .smaller-box.color-box2::after {
    display: block;
    content: "";
	visibility: hidden;
}
.smaller-box img {
  	height: auto;
  	width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
img.velvet {
    width: 70%;
}
img.markiz {
	width: 40%;
}
.miha-back-color img {
	top: 15%;
}
.linkBox {
  	position: absolute;
  	bottom: -280px;
  	left: 0;
  	height: 280px;
  	text-align: center;
  	padding: 40px 20px;
  	width: 100%;
  	background: rgba(255,255,255,0);
  	font-size: 90%;
  	-webkit-transition: 1s all ease;
  	transition: 1s all ease;
  	opacity: 0;
}
.linkBox h3 {
	font-size: 120%;
	font-weight: 700;
	font-family: 'Lato';
	color: #071953;
}
.linkBox p {
	font-size: 90%;
	font-weight: 700;
	line-height: 145%;
	color: #2196F3;
}
.small-box:hover .linkBox, .big-box:hover .linkBox, .smaller-box:hover .linkBox {
  	background: rgba(255,176,6,0.87);
  	border: 2px solid #f4921f;
  	border-radius: 5px;
  	bottom: 0;
  	opacity: 1;
}
.small-box:hover .linkBox a, .big-box:hover .linkBox a, .smaller-box:hover .linkBox a {
  	-webkit-animation: fadeInDown 3s;
  	animation: fadeInDown 3s;
}

a.linkText:link, a.linkText:visited  {
      font-size: 1.9rem;
      font-weight: 700;
      text-decoration: none;
      color: #333;
      padding: 5px 10px;
      width: 100%;
      display: block;
      margin: 15% auto;
}

a.linkText:hover, a.linkText:active  {
      color: #fff;
}

.navigation_hr {
    background: white;
    width: 150%;
    margin-left: -50px;
}

.navigation_lng {
    color: white;
    display: inline-block;
    font-size: 90%;
    padding: 5px;
}

.linkBox cite {
  	font-size: 80%;
  	font-style: italic;
}
.icon-contact i {
  color: white;
  padding: 3px;
  font-size: 4rem;
  margin-top: 5rem;
}
.long-copy {
    font-family: 'Lato';
    font-size: 90%;
    font-weight: 400;
    line-height: 145%;
    text-align: center;
    width: 80%;
    margin: 25px auto;
}

.small-copy {
    font-family: 'Lato';
    font-size: 90%;
    line-height: 145%;
    text-align: center;
	font-weight: 400;
	margin: 0 auto 25px;
}
.small-copy:first-child {
	margin-top: 35px;
}
a.btn-more {
    position: absolute;
    left: 45%;
    top: 80%;
    text-decoration: none;
    color: #007bff;
    font-size: 20px;
}
.call-to-action {
	padding: 60px 0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 138, 0, 0.77)), to(rgba(255, 138, 0, 0.67))), url(../img/portfolio-images/joe-yates.jpg);
	background-image: linear-gradient(rgba(255, 138, 0, 0.77), rgba(255, 138, 0, 0.67)), url(../img/portfolio-images/joe-yates.jpg);
	background-size: cover;
	background-position: center;
}
.call-to-action h2 {
	font-size: 190%;
	font-weight: 700;
	color: #fff;
	letter-spacing: 1px;
	word-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
}
.btn-go:link, .btn-go:visited {
	display: block;
	margin: 35px auto 0;
    color: #333;
    border: 1px solid #333;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    width: 150px;
    height: auto;
	-webkit-transition: color 0.2s, border 0.2s, background 0.2s;
	transition: color 0.2s, border 0.2s, background 0.2s;
}
.btn-go:hover, .btn-go:active {
	color: #03a8ff;
	background-color: #f4f4f4;
	border: 1px solid #03a8ff;
}
.linkBox .fa-smile {
	font-size: 180%;
	color: #333;
	margin-top: 15%;
}
/* ------------------------------------------- */
/* Animations                */
/* ------------------------------------------- */
.js--wp-1, .js--wp-2, .js--wp-3, .js--wp-4, .js--wp-5, .js--wp-6, .js--wp-7, .js--wp-8, .js--wp-9, .js--wp-10, .js--wp-11, .js--wp-12 {
     opacity: 0;
     -webkit-animation-duration: 1s;
     animation-duration: 1s;
}
 .js--wp-1.animated, .js--wp-2.animated, .js--wp-3.animated, .js--wp-4.animated, .js--wp-5.animated, .js--wp-6.animated, .js--wp-7.animated, .js--wp-8.animated, .js--wp-9.animated, .js--wp-10.animated, .js--wp-11.animated, .js--wp-12.animated  {
     opacity: 1;
  }
/* ------------------------------------------- */
/* QUOTE FORM               */
/* ------------------------------------------- */
.quote-form-body {	background-color: #fff;}
.box {	display: block;}
.icon-nav i {
    color: white !important;
    padding: 5px !important;
	text-decoration: none !important;
}
.icon-nav i:hover {
	text-decoration: none !important;
}
.quote-header {
	width: 100%;
	background-color: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 152, 0, 0.87)), to(rgba(255, 87, 34, 0.5))), url(../img/portfolio-images/jimmy.jpg);
	background-image: linear-gradient(rgba(255, 152, 0, 0.87), rgba(255, 87, 34, 0.5)), url(../img/portfolio-images/jimmy.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 20px 0;
}
.hero-box {
	width: 100%;
	padding: 60px 0;
}
.hero-box h1 {
	font-size: 180%;
	font-weight: 700;
	letter-spacing: 2px;
	word-spacing: 4px;
	color: #fff;
	font-family: 'Lato';
	text-align: center;
	text-transform: uppercase;
	-webkit-animation-name: moveInRight;
	animation-name: moveInRight;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}
.quote-form, .payment-form {
	padding: 60px 0;
	background-color: rgba(215, 219, 218, 0.8);
}
.quoteh2 {
	font-size: 140%;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 2px;
	color: #333;
	font-weight: 700;
	font-family: 'Lato';
	text-align: center;
}
.contact-form {
	margin: 0 auto;
}
.form-field {
	padding-left: 0!important;
	padding-right: 0!important;
}
input[type=text], input[type=email], select, textarea {
    width: 80%;
    padding: 7px;
    border-radius: 3px;
    border: solid 1px #535366;
    color: #ff8a00;
	font-family: 'PT Sans', 'Arial', sans-serif;
}
select { width: 50%; }
#submit-form {
	background-color: #ff8a00;
    margin: 15px 0 0;
	font-weight: 400;
	padding: 7px 25px;
	border-radius: 10px;
    border: solid 1px #ff8a00;
    color: #fff;
	-webkit-box-shadow: 0px 17px 10px -10px rgba(51, 51, 51, 0.47);
	box-shadow: 0px 17px 10px -10px rgba(51, 51, 51, 0.47);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
}
#submit-form:hover {
    -webkit-box-shadow: 0px 37px 20px -20px rgba(51, 51, 51, 0.47);
    box-shadow: 0px 37px 20px -20px rgba(51, 51, 51, 0.47);
	-webkit-transform: translate(0px, -10px);
	transform: translate(0px, -10px);
}
textarea { height: 200px; }
input[type=checkbox] { margin: 10px 5px 10px 0; }
input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type=checkbox]::-ms-check { display: none; }
input[type=checkbox] {
	position: relative!important;
	width: 1em!important;
	height: 1em!important;
	border: 1px solid #535366!important;
	/* Adjusts the position of the checkboxes on the text baseline */
	vertical-align: -12px!important;
	line-height: 145%;
  /* Set here so that Windows' High-Contrast Mode can override */
  	color: #ff8a00!important;
	background-color: #fff;
}
input[type=checkbox]::before {
	  content: "✔"!important;
	  position: absolute!important;
	  font-size: 1.2em!important;
	  right: 0!important;
	  top: -0.3em!important;
	  visibility: hidden!important;
}
input[type=checkbox]:checked::before {
  /* Use `visibility` instead of `display` to avoid recalculating layout */
  	visibility: visible!important;
}
input[type=checkbox]:disabled {
  	border-color: black!important;
  	background: #ddd!important;
  	color: #ff8a00!important;
}

*:focus { outline: none;}
.form-box {
	width: 70%;
	margin: 0 auto;
	height: auto;
	padding: 40px;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 90%;
	background-color: rgba(228, 242, 241, 0.8);
	-webkit-box-shadow: 0px 1px 7px 1px rgba(237, 242, 228, 0.9);
	box-shadow: 0px 1px 7px 1px rgba(228, 242, 241, 0.97);
	overflow: hidden;
	color: #333;
}
.form-messages {
	width: 70%;
	margin: 0 auto;
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 30px;
	color: #333;
}

.success {
    background-color: rgba(253, 253, 253, 0.49);
    color: #26bf44;
    font-family: 'PT Sans';
    border-radius: 15px;
	text-align: center;
}
.error {
    background-color: rgba(242, 174, 174, 0.49);
    color: #d12e2e;
    font-family: 'PT Sans';
    border-radius: 15px;
	text-align: center;
}
.form-message {
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 30px;
	color: #333;
	text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}
.form-error { color: #d12e2e;}
.form-success { color: #26bf44;}

.input-error {
	-webkit-box-shadow: 0 0 5px #d12e2e;
	box-shadow: 0 0 5px #ff0000;
}
/* ------------------------------------------- */
/* PAYMENTS               */
/* ------------------------------------------- */
.payment-form-box {
	width: 70%;
	margin: 0 auto;
	height: 800px;
	padding-top: 40px;
	top: 0;
	right: 0;
	background-color: #fff;
	z-index: 10;
	overflow: hidden;
}
.payment-main-nav {
    float: left;
    list-style: none;
    margin: 55px 0 0 35px;
}
.payment-main-nav li {
    display: inline-block;
    margin: 0 0 0 40px;
}
.payment-main-nav li a:link, .payment-main-nav li a:visited  {
    color: #333;
    padding: 8px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 120%;
    border-bottom: solid 2px transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}
.payment-main-nav li a:hover, .payment-main-nav li a:active { border-bottom: solid 2px #e67e22;}

    /* ==========  SCROLL  BAR  ========= */
    ::-webkit-scrollbar-track{
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
      background-color: #F5F5F5;
      border-radius: 10px;
    }
    ::-webkit-scrollbar{
      width: 10px;
      height: 9px;
      background-color: #F5F5F5;
    }
    ::-webkit-scrollbar-thumb:hover{
      border-radius: 10px;
      background-color: #FFF;
      background-image: -webkit-gradient(
        linear,
        40% 0%,
        75% 84%,
        from(#ffb900),
        to(#ffce4c),
        color-stop(.5,#ffcb40)
      );
    }
    ::-webkit-scrollbar-thumb{
      border-radius: 10px;
      background-image: -webkit-gradient(
        linear,
        40% 0%,
        75% 84%,
        from(#ff8e53),
        to(#ff7730),
        color-stop(.5,#ffcb40)
      );
   }