/*
0 - 600     -- phone
600 - 900   -- tablet portrait
900 - 1200  -- tablet landscape
1200 - 1800 -- desktop
1800 - ...  -- big desktop

- phone
- tab - port
- tab - land
- big - desktop
*/
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
    transform: translateX(-10rem); }
  80% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }
@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
    transform: translateX(-10rem); }
  80% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
    transform: translateX(10rem); }
  80% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
    transform: translateX(10rem); }
  80% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

@-webkit-keyframes moveBtbUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
    transform: translateY(10rem); }
  80% {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

@keyframes moveBtbUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
    transform: translateY(10rem); }
  80% {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

.row {
  margin-left: 0;
  margin-right: 0; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    -webkit-animation-name: moveInLeft;
    animation-name: moveInLeft;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    color: #FF8A00; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--main-sub {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    -webkit-animation-name: moveInLeft;
    animation-name: moveInLeft;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    color: #FF8A00; }
    @media (max-width: 37.5em) {
      .heading-primary--main-sub {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1.5rem;
    -webkit-animation-name: moveInRight;
    animation-name: moveInRight;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    letter-spacing: 1rem; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

body {
  font-family: "Lato",sans-serif;
  font-weight: 400;
  /* font-size: 16px;*/
  line-height: 1.7;
  color: #777; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffb900), to(#ff7730));
  background-image: linear-gradient(to right, #ffb900, #ff7730);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  -webkit-transition: all .2s;
  transition: all .2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.heading-white {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  -webkit-background-clip: text;
  color: white;
  letter-spacing: 2px;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  bottom: 45px; }
  @media (max-width: 56.25em) {
    .heading-white {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-white {
      font-size: 2.5rem; } }
  .heading-white:hover {
    -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.icon-nav i {
  color: white !important;
  padding: 5px !important;
  font-size: 4rem!important;
  text-decoration: none !important;	
}
@media only screen and (max-width: 480px) {
	.icon-nav i {
    	padding: 5px 2px!important;
	}
	.header_logo-box {
		top: 2rem;
		left: 2rem;
	}
	.header_text-box {
    	top: 50%
	}
}
.icon-contact i {
  color: white !important;
  padding: 3px !important;
  font-size: 4rem !important;
  margin-top: 5rem !important; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-small {
  margin-top: 3rem !important; }

.u-margin-top-medium {
  margin-top: 5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -25vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0; } }
  @media (max-width: 56.25em) {
    .section-about_heading {
      margin-top: 7rem; } }
  @media (max-width: 75em) {
    .section-about_heading {
      margin-top: 7rem; } }
  .section-about_heading-1 {
    color: black;
    font-weight: bold;
    font-size: 2.2rem; }
  .section-about_paragraph {
    color: black;
    font-size: 1.7rem;
    font-weight: 500; }
  .section-about_img {
    background-size: cover;
    width: 100%; }

.section-features {
  padding: 20rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0)), to(rgba(255, 119, 48, 0.3))), url(../img/san3.jpg);
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0), rgba(255, 119, 48, 0.3)), url(../img/san3.jpg);
  background-size: cover;
  margin-top: -8.5rem;
  -webkit-transform: skewY(-7deg);
  transform: skewY(-7deg); }
  .section-features > * {
    -webkit-transform: skewY(7deg);
    transform: skewY(7deg); }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 15rem 0; } }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem; }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 20rem 0 10rem 0; } }

.section-stories {
  position: relative;
  padding: 15rem 0;
  margin-top: -10rem; }
  @media (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }

.section-book {
  padding: 5rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
  margin-top: -9rem;
  margin-bottom: -9rem;
  -webkit-transform: skewY(-7deg);
  transform: skewY(-7deg); }
  .section-book > * {
    -webkit-transform: skewY(7deg);
    transform: skewY(7deg); }
  @media (max-width: 56.25em) {
    .section-book {
      padding: 10rem 0; } }

.book {
  background-image: url(../img/alexandre-godreau.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  margin-top: 5rem;
  margin-bottom: 5rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .book_form {
    width: 50%;
    padding: 6rem; }
  .book_text {
    color: white;
    font-size: 1.8rem;
    line-height: 3rem;
    margin-top: 4rem;
    margin-left: 2rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 100px;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  -webkit-animation-name: moveBtbUp;
  animation-name: moveBtbUp;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #ffb900;
  color: #fff; }
  .btn--green::after {
    background-color: #ffb900; }

.btn--transparent {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff !important; }

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
  transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: #ff7730; }
  .btn:hover::after {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  outline: none;
  -webkit-transform: translateY(-0.1rem);
  transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn:focus {
  outline: none; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s; }

.btn--animated {
  -webkit-animation: moveBtbUp .5s ease-out .75s;
  animation: moveBtbUp .5s ease-out .75s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

.btn-s, .btn-s:link, .btn-s:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3.5rem;
  display: inline-block;
  border-radius: 100px;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  -webkit-animation-name: moveBtbUp;
  animation-name: moveBtbUp;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn-s--orange {
  background-color: #ffb900;
  color: #fff; }
  .btn-s--orange::after {
    background-color: #ffb900; }

.btn-s:hover {
  -webkit-transform: translateY(-0.3rem);
  transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: #ff7730; }
  .btn-s:hover::after {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn-s:active {
  outline: none;
  -webkit-transform: translateY(-0.1rem);
  transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-s:focus {
  outline: none; }

.btn-s::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s; }

.btn-s--animated {
  -webkit-animation: moveBtbUp .5s ease-out .75s;
  animation: moveBtbUp .5s ease-out .75s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

.composition {
  position: relative; }
  .composition_photo {
    width: 55%;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    -webkit-transition: all .3s;
    transition: all .3s;
    outline-offset: 2rem; }
    @media (max-width: 56.25em) {
      .composition_photo {
        position: relative;
        float: left;
        width: 33.3333%;
        -webkit-box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition_photo--p1 {
      left: 0;
      top: -2rem; }
      @media (max-width: 56.25em) {
        .composition_photo--p1 {
          top: 0; } }
    .composition_photo--p2 {
      right: 0;
      top: 2rem; }
      @media (max-width: 56.25em) {
        .composition_photo--p2 {
          top: 0; } }
    .composition_photo--p3 {
      left: 20%;
      top: 10rem; }
      @media (max-width: 56.25em) {
        .composition_photo--p3 {
          left: 0;
          top: 0; } }
    .composition_photo:hover {
      outline: 1.5rem solid #FF8A00;
      -webkit-transform: scale(1.05) translateY(-0.5rem);
      transform: scale(1.05) translateY(-0.5rem);
      -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition_photo:not(:hover) {
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }

.featueres-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s; }
  .featueres-box-text {
    color: black; }
  .featueres-box-icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    background-image: -webkit-gradient(linear, left top, right top, from(#ffb900), to(#ff7730));
    background-image: linear-gradient(to right, #ffb900, #ff7730);
    -webkit-background-clip: text;
    color: transparent; }
  .featueres-box:hover {
    -webkit-transform: scale(1.03) translateY(-1.5rem);
    transform: scale(1.03) translateY(-1.5rem);
    -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }

.fa-globe {
  margin-bottom: 1.5rem; }

.fa-money-bill-alt {
  margin-bottom: 1.5rem; }

.price {
  font-size: 25px; }

.card {
  -webkit-perspective: 150rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
  background: #f7f7f7;
  border: none; }
  .card_side {
    color: #fff;
    font-size: 2rem;
    height: 50rem;
    -webkit-transition: all 1.5s ease;
    transition: all 1.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card_side--front {
      background-color: #fff; }
    .card_side--back {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg); }
      .card_side--back-1 {
        background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card_side--back-2 {
        background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card_side--back-3 {
        background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
  .card:hover .card_side--front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg); }
  .card:hover .card_side--back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  .card_picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card_picture-1 {
      background-image: url(../img/facebook-insta.png); }
    .card_picture-2 {
      background-image: url(../../img/google.png); }
    .card_picture-3 {
      background-image: url(../img/social-network.png); }
  .card_heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    text-align: right;
    position: absolute;
    z-index: 999;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card_heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    line-height: 1.5; }
    .card_heading-span-1 {
      background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.85)), to(rgba(255, 119, 48, 0.85)));
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card_heading-span-2 {
      background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.85)), to(rgba(255, 119, 48, 0.85)));
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card_heading-span-3 {
      background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.85)), to(rgba(255, 119, 48, 0.85)));
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
  .card_details {
    padding: 1rem; }
    .card_details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card_details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        color: #2b2929; }
        .card_details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card_cta {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card_price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #fff; }
  .card_price-only {
    font-size: 1.4rem;
    -webkit-transform: uppercase;
    transform: uppercase; }
  .card_price-value {
    font-size: 6rem;
    font-weight: 100; }

.story {
  width: 70%;
  margin: 0 auto;
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  padding: 4rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  -webkit-transform: skewX(-12deg);
  transform: skewX(-12deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  @media (max-width: 56.25em) {
    .story {
      -webkit-transform: skewX(0deg);
      transform: skewX(0deg);
      padding: 4rem; } }
  .story_heading-1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    color: #404551;
    line-height: 1.2; }
  .story_heading-2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.9rem;
    font-weight: 600;
    color: #404551;
    line-height: 1.2; }
  .story_text {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 0;
    line-height: 1.9; }
  .story_imgg-1 {
    width: 15rem;
    height: 15rem;
    border-radius: 50%; }
  .story > * {
    -webkit-transform: skewX(12deg);
    transform: skewX(12deg); }
    @media (max-width: 56.25em) {
      .story > * {
        -webkit-transform: skewX(0deg);
        transform: skewX(0deg); } }
  .story_shape {
    width: 15rem;
    height: 15rem;
    float: left;
    position: relative;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    border-radius: 50%;
    -webkit-transform: translateX(-3rem);
    transform: translateX(-3rem); }
  .story_img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    -webkit-transform: skewX(12deg);
    transform: skewX(12deg); }
    @media (max-width: 56.25em) {
      .story_img {
        -webkit-transform: skewX(0deg);
        transform: skewX(0deg); } }
  .story_caption {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 20%);
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .story_text {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: black; }
  .story:hover .story_caption {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .story:hover .story_img {
    -webkit-filter: blur(2px) brightness(80%);
    filter: blur(2px) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; 
  z-index: -1;
  overflow: hidden;
  opacity: .6; }
  .bg-video_content {
    width: 100%;
    height: 100%;
    -webkit-object-fit: cover;
    -o-object-fit: cover;
    object-fit: cover; }

.form_group:not(:last-child) {
  margin-bottom: 2rem; }

.form_input {
  font-size: 1.15rem;
  font-family: inherit;
  color: inherit;
  font-weight: 600;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.85);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  -webkit-transition: all .4s;
  transition: all .4s; }
  .form_input:focus {
    outline: none;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #5643fa; }
  .form_input:focus:invalid {
    border-bottom: 3px solid #FF8A00; }
  .form_input::-webkit-input-placeholder {
    color: #333; }

.form_label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  -webkit-transition: all .4s;
  transition: all .4s; }

.form_input:placeholder-shown + .form_label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem); }

.form_radio-group {
  width: 49%;
  display: inline-block; }

.form_radio-label {
  font-size: 1.7rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
  color: #333; }

.form_radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #FF8A00;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form_radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #FF8A00;
    opacity: 0;
    -webkit-transition: opacity .2s;
    transition: opacity .2s; }

.form_radio-input:checked ~ .form_radio-label .form_radio-button::after {
  opacity: 1; }

.form_radio-input {
  display: none; }

.contact_form-position {
  position: absolute; }

.popup {
  display: block;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .popup_content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: table;
    overflow: hidden;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.25);
    transform: translate(-50%, -50%) scale(0.25);
    -webkit-transition: all .5s .2s;
    transition: all .5s .2s; }
  .popup_left {
    width: 33.33333%;
    display: table-cell; }
  .popup_right {
    width: 66.6666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup_img {
    display: block;
    width: 100%; }
  .popup_text {
    font-size: 1.4rem;
    margin-bottom: 3.5rem;
    -moz-column-count: 2;
    -moz-column-gap: 6rem;
    -moz-column-rule: 1px solid #eee;
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 6rem;
    column-gap: 6rem;
    -webkit-column-rule: 1px solid #eee;
    column-rule: 1px solid #eee;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .popup:target .popup_content {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1); }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup_close:link, .popup_close:visited {
    color: #777;
    position: absolute;
    top: 1rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: all .2s;
    transition: all .2s; }
  .popup_close:hover {
    color: #FF8A00; }

.thecard {
  -webkit-perspective: 150rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 28rem;
  padding: 1rem;
  margin: 1rem; }
  .thecard-icon {
    font-size: 7.5rem;
    margin: 1rem 1.5rem 2rem 1.5rem;
    background-image: -webkit-gradient(linear, left top, right top, from(#ffb900), to(#ff7730));
    background-image: linear-gradient(to right, #ffb900, #ff7730);
    -webkit-background-clip: text;
    color: transparent; }
  .thecard-text {
    color: #484848;
    margin-top: 4rem;
    font-weight: bold;
    font-size: 2.3rem;
    text-transform: capitalize; }
    @media (min-width: 112.5em) {
      .thecard-text {
        font-size: 2rem; } }
  .thecard-separator {
    width: 100%;
    color: #ffb900; }

.thecard__side {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 2rem;
  height: 28rem;
  -webkit-transition: all .8s;
  transition: all .8s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 2rem;
  text-align: center;
  color: black;
  border: 0.8rem solid transparent;
  backface-visibility: hidden; }

.thecard__side--front {
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10; }

.thecard__side--back {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .thecard__side--back-text {
    font-size: 1.7rem;
    color: #383838;
    margin-top: 0.5rem; }
  @media (max-width: 56.25em) {
    .thecard__side--back {
      padding: 4rem; } }

.thecard:hover .thecard__side--front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.thecard:hover .thecard__side--back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0); }

@media (max-width: 37.5em) {
  .card-column {
    padding-left: 30px;
    padding-right: 30px; } }

.header {
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.47)), to(rgba(43, 41, 41, 0.47))), url(../img/greg.jpg);
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.47), rgba(43, 41, 41, 0.47)), url(../img/greg.jpg);
  background-size: cover;
  background-position: bottom center;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -ms-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      -ms-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header_logo-box {
    position: absolute;
    top: 2.5rem;
    left: 4rem; }
  .header_logo {
    height: 10.5rem; }
  .header_text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }

/*
.row{
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child){
        margin-bottom: $gutter-vertical;

        @include respond(tab-port) {
            margin-bottom: $gutter-vertical-small;
        }
    }

    @include respond(tab-port) {
        max-width: 50rem;
        padding: 0 2rem;
    }

    @include clearfix;

    [class^="col-"]{
        float: left;

        &:not(:last-child){
            margin-right: $gutter-horizontal;

            @include respond(tab-port) {
                margin-right: 0;
                margin-bottom: $gutter-vertical-small;
            }
        }

        @include respond(tab-port) {
            width: 100% !important;
        }
    }

    .col-1-of-2{
        width: calc((100% - 6rem) / 2);
    }

    .col-1-of-3{
        width: calc((100% - 2*6rem) / 3);
    }

    .col-2-of-3{
        width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
    }

    .col-1-of-4{
        width: calc((100% - 3*6rem) / 4);
    }

    .col-2-of-4{
        width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
    }

    .col-3-of-4{
        width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
    }
}
*/
.footer {
  background-color: #333;
  padding: 5rem 0;
  font-size: 1.4rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 3rem 0; } }
  .footer_logo-box {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 5rem; }
    @media (max-width: 56.25em) {
      .footer_logo-box {
        margin-bottom: 2rem;
        margin-top: 10rem; } }
  .footer_logo {
    width: 14rem;
    height: auto; }
  .footer_logo-1 {
    color: #fff; }
  .footer_navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer_navigation {
        width: 100%;
        text-align: center; } }
  .footer_list {
    list-style: none; }
  .footer_item {
    display: inline-block; }
    .footer_item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer_link:link, .footer_link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    -webkit-transition: all .2s;
    transition: all .2s; }
  .footer_link:hover, .footer_link:active {
    color: #FF8A00;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    -webkit-transform: rotate(5deg) scale(1.1);
    transform: rotate(5deg) scale(1.1); }
  .footer_copyright {
    color: #f7f7f7;
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 88%;
    float: right; }
    @media (max-width: 56.25em) {
      .footer_copyright {
        width: 100%;
        float: none;
        text-align: center; } }

.navigation_checkbox {
  display: none; }

.navigation_button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .navigation_button {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation_button {
      top: 3rem;
      right: 3rem; } }

.navigation_background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#ffb900, #ff7730);
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 56.25em) {
    .navigation_background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation_background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation_nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: -100px;
  z-index: 1500;
  opacity: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation_list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation_item {
  margin: 1rem; }

.navigation_link:link, .navigation_link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 230%;
  -webkit-transition: all .5s;
  transition: all .5s; }
  .navigation_link:link span, .navigation_link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation_link:hover, .navigation_link:active {
  background-position: 100%;
  color: #FF8A00;
  -webkit-transform: translateX(1rem);
  transform: translateX(1rem); }

.navigation_checkbox:checked ~ .navigation_background {
  -webkit-transform: scale(80);
  transform: scale(80); }

.navigation_checkbox:checked ~ .navigation_nav {
  left: 0;
  opacity: 1;
  width: 100%; }

.navigation_icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation_icon, .navigation_icon::before, .navigation_icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation_icon::before, .navigation_icon::after {
    content: "";
    position: absolute;
    left: 0;
    -webkit-transition: all .2s;
    transition: all .2s; }
  .navigation_icon::before {
    top: -.8rem; }
  .navigation_icon::after {
    top: .8rem; }

.navigation_button:hover .navigation_icon::before {
  top: -1rem; }

.navigation_button:hover .navigation_icon::after {
  top: 1rem; }

.navigation_checkbox:checked + .navigation_button .navigation_icon {
  background-color: transparent; }

.navigation_checkbox:checked + .navigation_button .navigation_icon::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -0rem; }

.navigation_checkbox:checked + .navigation_button .navigation_icon::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0rem; }

.navigation_hr {
  background: white;
  width: 150%;
  margin-left: -50px; }

.navigation_lng {
  color: white;
  display: inline-block;
  font-size: 18px;
  padding: 5px; }

.navigation_bottom {
  display: inline; }
